
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PAUP vježbe 3</h2>

Aplikacija o studentima <br/>
Fakultet: @ViewBag.Fakultet <br/>

Popis studenata @Html.ActionLink("Link","Popis")
